@page "/"

<PageTitle>Index</PageTitle>

<div style="position: absolute; left: 30%;">
    <button class="btn btn-primary" type="button" @onclick="@AddValue">Add Value</button>
    <h2>Input</h2>
    <div style="width: 70%;">
        [ 
            @for(int idx = 0; idx < Values.Count; idx++)
            {
                int index = idx;
                <div class="input-group" style="width: 90px;">
                    <input type="text" class="form-control" @bind-value="Values[index]">
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="button" @onclick="() => RemoveInteger(index)">X</button>
                    </div>
                </div>
            }
       ]
    </div>
    <hr />
    <h2>Results</h2>
    <div>
        <table>
          <colgroup>
             <col span="1" style="width: 250px;">
             <col span="1" style="width: 250px;">
          </colgroup>
          <tbody>
              <tr style="background-color: lightskyblue;">
                <th>Input</th>
                <th>Result</th>
              </tr>
              @foreach (var result in Results)
              {
                  @for(int i = 0; i < result.Value.Count; i++)
                  {
                      if (i == 0)
                      {
                          <tr>
                            <td>@(result.Key == null ? "<empty>" : result.Key)</td>
                            <td>@result.Value[i]</td>
                          </tr>
                      }
                      else
                      {
                          <tr>
                            <td></td>
                            <td>@result.Value[i]</td>
                          </tr>
                      }
                   }
              }
          </tbody>
        </table>
    </div>

    <button class="btn btn-primary" type="button" @onclick="@FizzBuzz">Fizz Buzz</button>
    <button class="btn btn-danger" type="button" @onclick="@Reset">Reset</button>
</div>
