@page "/"

<PageTitle>Index</PageTitle>

<div style="position: absolute; left: 30%;">
    <button class="btn btn-primary" type="button" @onclick="@AddValue">Add Value</button>
    <h2>Input</h2>
    <div class="row" style="width: 70%;">
        [ 
            @for(int idx = 0; idx < Values.Count; idx++)
            {
                int index = idx;
                <div class="input-group" style="width: 90px;">
                    <input type="text" class="form-control" @bind-value="Values[index]">
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="button" @onclick="() => RemoveInteger(index)">X</button>
                    </div>
                </div>
            }
       ]
    </div>
    <hr />
    <h2>Result</h2>
    <div>
        @foreach (var result in Results)
        {
            <h4>Input: @(result.Key == null ? "<empty>" : result.Key)</h4>
            <h4>Result: </h4>
            <div>
                <ul>
                @foreach(var operation in result.Value)
                {
                    <li>@operation</li>
                }
                </ul>
            </div>
        }
    </div>

    <button class="btn btn-primary" type="button" @onclick="@FizzBuzz">Fizz Buzz</button>
    <button class="btn btn-danger" type="button" @onclick="@Reset">Reset</button>
</div>
